@use '@carbon/react';

.mds-page {
    padding-top: 2rem;
    max-width: 1200px;
    margin: 48px auto;
}

.mds-pb-1 {
    padding-bottom: 1rem;
}

.mds-pb-2 {
    padding-bottom: 2rem;
}

.mds-pb-3 {
    padding-bottom: 3rem;
}

